<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Word Cloud Generator{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    {% block head %}{% endblock %}
</head>

<body>
    <div class="container">
        {% block content %}{% endblock %}

        <footer>
            <p>Created with ❤️ by ossydotpy</p>
        </footer>
    </div>
    
</body>

</html>
